.logo {
  width: 11.5rem;
  margin-top: 1rem;
  margin-left: 1.5rem;
}
.navBar {
  margin-top: 1rem;
  margin-right: 1rem;
}
li {
  font-size: 1.5rem;
}
.linkNav {
  margin-right: 2.5rem;
}
.login {
  font-size: 1.5rem;
  padding: 1.2rem 1.3rem 1rem 1.3rem;
  letter-spacing: 0.5px;
}
.registrer {
  font-size: 1.5rem;
  padding: 1.2rem 1.3rem 1rem 1.3rem;
  letter-spacing: 0.5px;
  margin-left: 0.8rem;
.firstTitle {
  font-size: 5rem;
  margin-top: 10%;
}
.secondTitle {
  font-size: 5rem;
}
img {
  margin-right: 0.5rem;
  width: 15%;
}
.imageContainer {
  margin: 2rem 1rem 2rem 1rem;
footer {
  margin-top: 30px;
  height: 5rem;
}
p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}
.icono {
  margin: 0;
  width: 2rem;
}