* {
  background-color: #ffffff;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 62.5%;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
footer {
  background-color: #fffd92;
  bottom: 0;
  display: flex;
  justify-content: center;
  height: 30px;
  position: absolute;
  width: 100%;
}
p {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
}
.icono {
  margin: 0;
  width: 1.2rem;
}
