.logo {
  width: 10rem;
}
li {
  font-size: 1.4rem;
  letter-spacing: 1px;
}
.linkNav {
  margin-right: 1.6rem;
}
.login {
  font-size: 1.4rem;
  margin-left: 1rem;
  padding: 0.9rem;
}
.registrer {
  font-size: 1.4rem;
  margin-left: 0.5rem;
  padding: 0.9rem;
.firstTitle {
  font-size: 4.5rem;
}
.secondTitle {
  font-size: 4.5rem;
footer {
  margin-top: 30px;
  height: 30px;
}
p {
  align-items: center;
  font-size: 1.4rem;
}
.icono {
  margin: 0;
  width: 1.4rem;
}